form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border: 1px solid;
    border-radius: 5px;
    height: 630px;
    width: 400px;
}

.littlebox {
    display: flex;
} 
