.bigbox {
    position: absolute;
    top: 0;
    left: 890px;
}

h1 {
    text-align: center;
}

.box {
    border: 1px solid;
    border-radius: 5px;
    height: 630px;
    width: 400px;
} 
