.bigbox2 {
    height: 630px;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 450px;
}

h1 {
    padding-left: 85px;
}

ul {
    list-style-type: none;
}

img {
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-radius: 5px;
}

.btn {
    display: flex;
    align-items: center;
}
