.bigbox {
    position: absolute;
    top: 0;
    left: 450px;
}

h1 {
    padding-left: 85px;
}

.box {
    border: 1px solid;
    border-radius: 5px;
    height: 630px;
    width: 400px;
} 

.btn {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

img {
    height: 150px;
    width: 150px;
}
