<div class="bigbox">

    <h1>Liste de chatons</h1>

    <div class="box">

            <div *ngFor="let data of datas">

                <ul>
                    <li>Nom: {{data.name}}</li>
                    <li>Race: {{data.race}}</li>
                    <li>Date de naissance: {{data.date}}</li>
                    <li><img [src]="data.link" alt="chat"></li>
                    <button class="btn" (click)="adopt()">Adopter</button>
                </ul>

            </div>

        
    
    </div> 
    
</div>
